body {
  font-family: Arial, sans-serif;
  background: #fff;
  text-align: center;
  padding: 20px;
}

.container {
  width: 350px;
  margin: auto;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  font-size: 16px;
}

#result img {
  max-width: 100%;
  margin-top: 20px;
  border-radius: 10px;
}
